body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.point {
    background: navy;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 4vw;
    position: relative;
    top: -7px;
}

.points {
    background: navy;
    height: 4px;
    position: relative;
    display: inline-block;
}

.activity {
    background: #FCFCFC;
    margin-bottom: 6px;
    padding: 10px;
}

.point.active {
    background: limegreen;
}

.nav_link {
    background: #FCFCFC;
    border-radius: 4px;
    margin: 5px 0;
    padding: 4px;
    color: #333;
    font-weight: bold;
    border: 3px solid navy;
    cursor: pointer;
}

.nav_link.active {
    background: navy;
    color: white;
}

.demo-notice {
    padding: 25px;
    background: #FCFCFC;
    margin-bottom: 12px;
    font-size: 1.2em;
    border-bottom: 3px solid #EEE;
    font-weight: bold;
}